@import 'mixins';

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html,
body {
  height: 100%;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: $default;
  background-color: #bebebe;
  @extend %gtera-600;

  @include _1024 {
    font-size: 14px;
  }
}

.body--active {
  .header__popup-btn::before {
    transform: rotate(45deg) translateY(6px);
  }
  .header__popup-btn::after {
    transform: rotate(-45deg) translateY(-6px);
  }

  .hide-icon {
    height: 100% !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;

  @include _1024 {
    padding: 0 16px;
  }
}

.main {
  height: calc(100% - 257px);
  flex-grow: 1;
}

a,
button {
  outline: transparent;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  &:hover {
    text-decoration: none;
  }
}

.title {
  font-size: 82px;
  color: $title;
  text-align: center;
  text-transform: uppercase;
  @extend %gtera-700;

  @include _1024 {
    font-size: 58px;
  }

  @include _567 {
    font-size: 36px;
  }

  @include _375 {
    font-size: 34px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__subinner {
    @include _768 {
      max-width: 568px;
    }
  }
}

.link {
  display: none;
  position: absolute;
  top: 0;
  bottom: 123px;
  left: 0;
  right: 0;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
