<header id="header-section" class="header">

  <div class="container">

    <div class="header__inner">
      <div class="header__icon">
        <span>👅</span>

        <div class="header__languages">
          <button class="header__lang active">
            EN
          </button>

          <button class="header__lang">
            UA
          </button>

          <button class="header__lang">
            RU
          </button>
        </div>
      </div>



      <a class="logo" href="#body" data-content="Logo">
        logo
      </a>

      <button class="header__popup-btn">
        <span></span>
      </button>
    </div>

  </div>

</header>